name: Build and Run

on:
  push:
    branches: [ use-new-backend-gpu ]
  pull_request:
    branches: [ use-new-backend-gpu ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Find available GPUs
      run: lspci | grep -i vga
    - name: Build with Maven
      run: mvn clean install

    - name: Run Java class
      run: java -cp target/classes com.example.YourMainClass
